<!-- templates/index.html -->
{% extends "common.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="{{ url_for('static', filename='js/loadHead.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="hero">
        <h2>Welcome to SlideShopper</h2>
        <p>Browse and buy high-quality PowerPoint presentations. We offer a wide range of professional and custom PPTs designed to meet your needs.</p>
    </div>

    <div class="container">
        <p>Explore our collection of pre-designed PowerPoint presentations and find the perfect fit for your project. If you need something more specific, feel free to visit our Shop page.</p>
    </div>
{% endblock %}
